* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

.titulo-iframe {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}

main {
    max-height: 93vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    border: solid .15rem .15rem #fff;
    background-color: var(--red);
    border: 1px solid #fff;
}

::-webkit-scrollbar-button:single-button {
    height: 3px;
}