#container-principal {
    border-radius: 8px;
    /* background-color: #fff; */
    background-color: var(--red);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#tabela-convenios-mamografia {
    background-color: #000;
    border-spacing: 1px;
    text-align: center;
    width: 65vw;
    font-size: .9rem;
    margin: 10px auto;
    user-select: none;
}

.tr-tomossintese {
    background-color: #40e;
    color: #fdfdfd;
}

.tr-consulta-medica {
    background-color: #0a0;
    color: #fdfdfd;
}

.tr-agenda-mista {
    background-color: #ef0;
}

.tr-somente-tecnica {
    background-color: #b00;
    color: #fdfdfd;
}

/* Imagens protocolos */

#protocolos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    background-color: var(--red);
}

#protocolos-container h2 {
    text-align: center;
    line-height: 3rem;
    color: var(--white);
    margin-top: 1rem;
}

.protocolo {
    width: 63vw;
    box-shadow: 0 0 8px #000;
    margin: 1rem auto;
}