#container-principal {
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.informacoes-container {
    background-color: var(--red);
    color: #fff;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 8px #30303090;
    border-radius: 8px;
    margin: 1rem auto;
    padding: 1rem;
}

.subtitulo-informacoes {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
}

.texto-informacoes {
    font-size: 1.2rem;
}

.bloco {
    max-width: 62vw;
    margin-bottom: 2rem;
}

.observacao {
    font-style: italic;
    text-align: center;
    color: #101010;
    background-color: #ffff00ba;
}

h3 {
    font-size: 1rem;
}

#tabela-convenios-mamografia {
    background-color: #000;
    border-spacing: 1px;
    text-align: center;
    width: 65vw;
    font-size: .9rem;
}

.tr-tomossintese {
    background-color: #40e;
    color: #fdfdfd;
}

.tr-consulta-medica {
    background-color: #0a0;
    color: #fdfdfd;
}

.tr-agenda-mista {
    background-color: #ef0;
}

.tr-somente-tecnica {
    background-color: #b00;
    color: #fdfdfd;
}