main {
    width: 100vw;
    height: 100vh;
    background-color: #20202095;
    border-radius: 15px;
    text-align: center;
}

img {
    border: 5px solid #7dadff;
    border-radius: 10px;
    margin: .5rem;
    width: 70vw;
    min-width: 150px;
}

#doppler-base {
    border: 5px solid #7dadff;
    background-color: #fff;
    border-collapse: collapse;
    margin: .5rem auto;
    width: 70vw;
    min-width: 150px;
}

#doppler-base > tr, th, td {
    border: 1px solid #fff;
    width: 35vw;
    padding: 2px;
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}

#doppler-base > tbody {
    background-color: mediumseagreen;
    font-size: .9rem;
    color: #000;
}