* {
    --cor-destaque: #da3030;
}

main {
    background-color:#fff;
    padding: .5rem;
}

.superior {
    display: flex;
    flex-flow: row wrap;
}

#menu-lateral {
    flex: 1;
    padding: 2px;
    background-color: #1010101d;
    min-width: fit-content;
    max-height: 54vh;
}

#menu-lateral h3 {
    font-size: medium;
    color: var(--cor-destaque);
    line-height: 1.6rem;
    text-align: center;
}

#lateral-form {
    max-height: 89%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-medico {
    display: none;
}

.input-container label {
    display: block;
    transition: 250ms;
}

.input-container:hover {
    background-color: var(--cor-destaque);
}

label:hover,
.input-medico:hover {
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}

#informacoes-medico-container {
    flex: 4;
    max-width: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#informacoes-medico {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabela-resumo-medico * {
    text-align: left;
    width: 150px;
    margin: 1rem auto;
    text-transform: capitalize;
}

#nome-medico,
#observacoes-container h3 {
    max-width: 90vw;
    color: var(--cor-destaque);
}

#observacoes-container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.observacoes {
    font-size: .9rem;
    text-align: left;
    padding: 0 4px;
    overflow: auto;
    max-height: 25vh;
    min-width: 30vw;
    border: 2px solid var(--cor-destaque);
    border-radius: 5px;
    background-color: #1010101d;
}

#buttons-container {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 97.2vw;
    margin: .15rem 0;
}

.botao {
    background-color: var(--cor-destaque);
    width: 100px;
    min-width: 70px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 2px;
    color: #fff;
    border: 1px solid #000;
    text-wrap: nowrap;
    margin: .1rem 0;
}

.right, .left {
    display: flex;
}

#botao-asa-sul, #botao-retroceder {
    border-radius: 8px 0 0 8px;
}

#botao-lago-sul, #botao-avancar {
    border-radius: 0 8px 8px 0;
}

.botao:hover {
    transition: 300ms;
    border-color: #000;
}

.botao:active {
    background-color: #923030;
}

.botao-pressionado {
    background-color: #751919;
}

.container-tabelas {
    margin: 0 auto;
}

.escala-table tr:nth-child(even) {
    background-image: linear-gradient(#fff, #a0a0a070);
    color: #000;
}

.escala-table .multi-row,
.escala-table tr:nth-child(odd) {
    background-image: linear-gradient(#da0000da, #b20300a0);
    color: #fff;
}

.escala-table td,
.escala-table tr,
.escala-table th {
    width: calc(100vw / 7);
    outline: 1px solid #101010;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 28px;
    text-wrap: nowrap;
    font-size: .72rem;
    text-align: center;
}

.escala-table tr {
    outline: none;
}

.escala-table .multi-row {
    background-color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.escala-table .nome-unidade {
    font-size: 1.3rem;
}

.escala-table .medico {
    text-transform: capitalize;
}

.escala-table .espaco {
    height: 15px;
}

.oculto {
    display: none;
}