main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-image: radial-gradient(#ccc, #00000050); */
    background-color: #f0f0f030;
}

#comunicado {
    width: 98vw;
    max-width: 1200px;
    background-color: #fff;
}

table {
    text-align: center;
    background-color: antiquewhite;
    border-collapse: collapse;
    margin: 8vh auto;
    width: 98vw;
    max-width: 1200px;
}

table,
tr,
th,
td {
    font-size: .8rem;
    padding: 1.5px;
}

#outubro-rosa th {
    color: #ff0072;
}

#novembro-azul th {
    color: #0d47a1;
}

.titulo-campanha th {
    border: none;
}

.titulo-campanha img {
    max-width: 32px;
    border: none;
}

.bloco-tabela {
    box-shadow: 0 0 8px 2px #30303080;
}

.bloco-tabela th {
    text-transform: uppercase;
    font-size: .8rem;
    padding: 4px;
}

#titulo-outubro-rosa {
    background-color: #ffd0e5;
}

.feminino-1 {
    background-color: #ff8bbf;
}

.feminino-2 {
    background-color: #ffa2cb;
}

.feminino-3 {
    background-color: #ffb9d8;
}

.feminino-4 {
    background-color: #ffd0e5;
}

#titulo-novembro-azul {
    background-color: #e3f2fd;
}

.masculino-1 {
    background-color: #42a5f5;
}

.masculino-2 {
    background-color: #64b5f6;
}

.masculino-3 {
    background-color: #90caf9;
}

.masculino-4 {
    background-color: #bbdefb;
}