main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.container-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
}

.formulario-preparos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.radios-container {
    line-height: 1.5rem;
}

.radio-container:hover * {
    cursor: pointer;
}

#link-whatsapp-container {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#link-whatsapp-subcontainer {
    font-size: 1rem;
    line-height: 1.2rem;
    display: flex;
    justify-content: flex-start;
}

#btn-copiar-link {
    color: var(--white);
    width: 20%;
    padding: 0 4px;
    background-color: var(--red);
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 15px;
    outline: 2px solid var(--red);
}

#btn-copiar-link:hover {
    cursor: pointer;
    background-color: #d00;
}

#btn-copiar-link:active {
    font-size: small;
    background-color: #f00;
}

.imagem-preparo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 0px 15px 2px #303030;
    border: 1px solid #30303090;
    margin: 1.5rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
}

.imagem-preparo {
    max-width: 40vw;
}

input {
    appearance: none;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 2px solid #fff;
    outline: 1px solid var(--red);
    transition: 500ms;
}

input:checked {
    transition: 500ms;
    background-color: var(--red);
}
