* {
    --magnetom-color: #ec6603;
}

/* Informações do equipamento */
#equipamento-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

#foto-equipamento {
    max-height: 300px;
    max-width: 400px;
    object-fit: cover;
}

#nome-equipamento {
    font-size: 2rem;
    color: var(--magnetom-color);
}

#texto-fonte-imagem {
    font-size: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    quotes: none;
    color: #000;
}

#texto-fonte-imagem a {
    color: #000;
}

#texto-fonte-imagem a:hover {
    color: var(--primary);
}

#especificacoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    min-height: 250px;
    min-width: 300px;
}

#tabela-especificacoes {
    font-size: 1rem;
    width: 20rem;
    border-spacing: 0;
    border-radius: 12px;
    padding: 10px;
    background-color: #80808030;
}

.titulo-tabela {
    font-size: 1.125rem;
    color: #2e2e2e;
    text-align: left;
}

.texto-tabela {
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.05rem;
}

/* Indicativos de contraste */
#indicativos-de-contraste {
    background-color: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bloco-indicativo {
    background-color: #fff;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .1rem;
    color: var(--dark-grey);
    margin: 2rem auto;
    border-radius: 8px;
    min-height: 150px;
    min-width: 220px;
    padding: 1rem;
}

.bloco-indicativo h3 {
    text-align: center;
    color: var(--dark-grey);
}

.bloco-indicativo i {
    font-size: .9rem;
}

.bloco-indicativo ul li {
    list-style: inside;
}

/* Ressonancias no mesmo dia */
#ressonancias-mesmo-dia {
    color: var(--white);
    background: var(--red);
    opacity: 100%;
    padding-bottom: 2rem;
}

h2 {
    text-align: center;
    line-height: 4rem;
    color: var(--white);
}

#listas-mesmo-dia-container {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.titulo-permissoes {
    font-style: oblique;
    width: fit-content;
    margin-bottom: .5rem;
}

.lista-container {
    text-align: left;
}

ul {
    list-style: none;
}

.observacao {
    background-color: #ffff00ba;
    color: var(--red);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
}

/* Cuidados e casos específicos */
#cuidados-container {
    background-color: var(--red);
}

#quadros-cuidados-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 25dvw);
    row-gap: 2.5rem;
    padding-bottom: 2rem;
}

.quadro-cuidados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--white);
    width: 25dvw;
    height: 20dvw;
    box-shadow: 5px 5px 8px #30303090;
    margin: 0 auto;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo-quadro-cuidados {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-grey);
    text-align: center;
}

.span-quadro-cuidados {
    color: var(--dark-grey);
    font-size: .85rem;
    font-weight: 600;
}

.texto-quadro-cuidados {
    color: var(--dark-grey);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .94rem;
}