main {
    text-align: center;
    background-color: var(--white);
}

header {
    text-align: center;
    background-color: var(--red);
    line-height: 12vh;
    font-size: 1.1rem;
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navigation a {
    text-decoration: none;
    width: 25%;
    transition: all 300ms;
    color: #fff;
}

#navigation a:visited {
    text-decoration: none;
    color: #fff;
}

#navigation a:hover {
    background-color: #fff;
    color: #000;
}

#image-script {
    margin: 0 auto;
    width: 70vw;
}