* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-wrap: nowrap;
    height: 8vh;
    background-color: var(--red);
    font-size: .9rem;
}

main {
    box-shadow: inset 0 5px 8px #888;
    background-color: var(--white);
    padding-top: 1rem;
}

/* Aviso geral */
#aviso-geral {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    text-align: center;
    width: 90vw;
    max-width: 980px;
    margin: 0 auto;
    background-color: #90909050;
    border: 1px solid var(--red);
    border-radius: 8px;
    padding: .5rem;
    font-size: 1.2rem;
}

#aviso-geral h2 {
    text-align: center;
}

#aviso-geral ul {
    text-align: left;
    list-style: inside;
}

/* Quadros de informações */
#quadros-container {
    width: 980px;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    gap: 1vw;
}

.quadro {
    flex: 1;
    text-decoration: none;
    color: var(--white);
    font-size: x-large;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 22vw;
    min-height: 80px;
    min-width: 240px;
    border-radius: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
}

.quadro:hover {
    font-size: 1.6rem;
    filter: drop-shadow(5px 5px 8px #888) brightness(130%);
    transition: 350ms;
}

.inativo {
    color: var(--danger);
    cursor: not-allowed;
}

#popup {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5vh;
    left: 0;
    right: 0;
    height: 90vh;
    width: 79vw;
    margin: 0 auto;
    background: #343a40f0;
    border-radius: 25px;
    padding: 1.25rem;
    z-index: 1;
}

#iframe-principal {
    width: 100%;
    min-height: 100%;
}

#botao-fechar-popup {
    position: absolute;
    right: 1.5dvw;
    top: 1.5dvw;
    cursor: pointer;
}

.desfocado {
    filter: blur(1px);
    z-index: -1;
}

@media screen and (max-width: 920px) {
    #header-principal {
        line-height: 5vh;
        font-size: 1rem;
    }

    #quadros-container {
        width: auto;
    }

    .quadro {
        width: 45vw;
        font-size: 1.8rem;
    }

    .quadro:hover {
        font-size: 1.95rem;
    }


    #iframe-principal {
        max-height: 100vh;
    }
}

@media screen and (max-width: 660px) {

    #popup {
        width: 90vw;
        height: 95vh;
        top: 2.5vh;
        border-radius: 12px;
        padding: 1vw;
    }

}

@media screen and (max-width: 480px) {

    #main-container {
        box-shadow: none;
    }

    #header-principal {
        height: 10vh;
        line-height: 10vh;
        font-size: x-small;
    }

    #aviso-geral {
        font-size: small;
        height: 40vh;
    }

    #aviso-geral ul {
        text-wrap: nowrap;
    }


    #quadros-container {
        box-shadow: none;
        gap: .5rem;
    }

    .quadro {
        width: 90vw;
        height: 80px;
        font-size: 1.5rem;
    }

    #popup {
        width: 99vw;
    }
}