* {
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
}

main {
    height: 90vh;
    overflow: auto;
}

.bloco-informacoes {
    margin-bottom: 2rem;
}

.subtitulo-informacoes {
    line-height: 3rem;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.texto-informacoes {
    font-size: 1.2rem;
}

.link {
    color: var(--white);
    text-decoration: underline;
    font-weight: bold;
}

select,
option {
    color: var(--dark-grey);
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border: solid .15rem #fff;
    /* border-radius: 8px; */
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #fff;
    height: .1rem;
    border-color: var(--red);
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-radius: 0 25px 0 0;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-radius: 0 0 25px 0;
}