#main-container {
    background-color: var(--white);
    display: flex;
}

#menu-lateral {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--red);
    border-radius: 0 25px 25px 0;
    border: 1px solid var(--dark);
    border-left: none;
    max-height: 80vh;
    min-height: 300px;
    width: 18vw;
    margin: 1rem 0;
    box-shadow: 5px 5px 8px #30303090;
}

label:hover {
    color: #efefef;
    cursor: pointer;
}

#informacoes-container {
    float: left;
    width: 70vw;
    height: 82vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#nome-medico {
    text-align: center;
}

#informacoes-medico {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tabela-resumo-medico {
    font-size: .7rem;
    text-align: left;
    min-width: 200px;
    text-transform: capitalize;
}

.escala-medica {
    background-color: var(--red);
    box-shadow: 5px 5px 8px #30303090;
}

.escala-medica * {
    border: 1px solid #000;
    font-size: .8rem;
    width: 20vw;
    text-align: center;
}

.transparente {
    opacity: 0;
}

.destaque-escala {
    background-color: var(--success);
}

#titulo-escala-medica {
    font-size: 1.5rem;
}
