* {
    --magnetom-color: #ec6603;
}

/* Informações do equipamento */
#equipamento-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 97vw;
}

#foto-equipamento {
    max-height: 300px;
    max-width: 400px;
    object-fit: cover;
}

#nome-equipamento {
    font-size: 2rem;
    color: var(--magnetom-color);
}

#texto-fonte-imagem {
    font-size: .75rem;
    text-align: center;
    quotes: none;
    color: #000;
}

#texto-fonte-imagem a {
    color: #000;
}

#texto-fonte-imagem a:hover {
    color: var(--primary);
}

#especificacoes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 350px;
}

#tabela-especificacoes {
    max-width: 10rem;
}

.texto-tabela {
    color: #000;
}

.titulo-tabela {
    font-size: 1.125rem;
    color: #000;
    text-align: left;
}

/* Ressonancias no mesmo dia */
#ressonancias-mesmo-dia {
    max-width: 97vw;
    background: var(--red);
    opacity: 100%;
    padding-bottom: 2rem;
}

#titulo-rn-mesmo-dia {
    text-align: center;
    line-height: 4rem;
}

#listas-mesmo-dia-container {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.titulo-permissoes {
    font-style: oblique;
    width: fit-content;
    margin-bottom: .5rem;
}

.lista-container {
    text-align: left;
}

ul {
    list-style: none;
}

.observacao {
    background-color: #ffff00ba;
    color: var(--red);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
}